.navbar{
    font-family: 'Sarabun', sans-serif; 
}

.section{
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: 'Sarabun', sans-serif; 
}

.main-hading{
    color: rgb(255, 97, 6);
    font-size: 25px;
    text-align: center;
    font-family: 'Sarabun', sans-serif; 
}

.underline{
    height: 4px;
    width: 10rem;
    background-color: rgb(255, 126, 251);
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    text-align: center;
    font-family: 'Sarabun', sans-serif; 
}
